<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BlogApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
      <div class="ui inverted fixed menu">
        <div class="ui container">
            <div class="header item"><i class="globe icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blog/new" class="item">New Blog</a>
        </div>
      </div>
